// ========================================
// FONT SIZES
// Assuming base font is 16px
// px = em
// 12 = .75
// 14 = .875
// 16 = 1
// 18 = 1.125
// 21 = 1.3
// 24 = 1.5

// ========================================
// TEXT, COLORS, MINOR DECORATION

body {
  font-family: "Open Sans", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  background-color: #ffffff;
  font-size: 100%;
  @include fontsize(18, 27);
}

body {
  color: $black;
}

// ========================================
// TEXT
p {
  margin-bottom: 1.5em;
}

em {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

.intro, .dek {
  @include fontsize(18, 27);
}

.selected, a.selected, .selected a {
  color: $black !important;
}

.tupper {
  text-transform: uppercase;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
}

h2 {
  @include fontsize(32, 32);
}
h3 {
  @include fontsize(28, 28);
}
h4 {
  @include fontsize(21, 21);
}
h5 {
  @include fontsize(18, 18);
}
h1.title {
  // margin: 0 0 1.5em 0;
  // padding: 0 0 .75em 0;
  @include fontsize(48, 48);
  letter-spacing: -1px;
  color: $black;
  font-weight: 700;
  &.tags {
    text-transform: capitalize;
  }
}
h2.post-title, h2.page-title {
  margin: 1.5em 0 1.5em 0;
  @include fontsize(36, 36);
}
.index article:first-of-type h2.post-title {
  margin-top: 0;
}
article .content:first-of-type h2 {
  margin-top: 0;
}
h3.post-title {
  margin: 0 0 1em 0;
  text-align: center;
  @include fontsize(28, 28);
}

// ========================================
// COLORS

/* gray */
.entry #screens-thumbs .actions a,
#comments .box h2 {
  color: #999;
}

// ========================================
// LINKS
a {
  outline: none;
}
a:link, a:visited {
  color: $linkcolor;
  text-decoration: none;
}
a:hover {
  color: $linkhovercolor;
  text-decoration: none;
}

// ========================================
// LISTS
.content ul.unstyled {
  list-style-type: none;
  margin-left: 0;
}

// ========================================
// MISC
.dim, a.dim:link, a.dim:visited {
  color: $graydark;
}
.dim2, a.dim2:link, a.dim2:visited {
  color: $gray;
}
.bgdim {
  background: #f7f7f7;
}

.txt-center, .tcenter, p.center, div.center {
  text-align: center;
}

.caps {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

small {
  @include fontsize(12, 18);
}

// ========================================
// TABLES
table {
  clear: both;
  margin-bottom: .75em;
  width: 100%;
  border-top: 2px solid $graylight;
}

table thead th {
  border-bottom: 1px solid $graylight;
}

table td {
  border-bottom: 1px solid $graylight;
  padding: 6px 0;
}

table tr, table td {
  background: $white;
}

table th, table td {
  padding: .75em 6px;
}

table th:first-child, table td:first-child {
  padding-left: 0;
}

// ========================================
// TABLE FILTER
ul#filter {
  margin-bottom: .5em;
}

// ========================================
// HEADER SELECTED SECTION
// .current
body.blog li#gnav-blog a,
body.interface li#gnav-interface a,
body.tools li#gnav-tools a,
body.wiki li#gnav-wiki a,
body.music li#gnav-music a,
#gnav li.current a
{
  color: $black !important;
}

// ========================================
// FOOTER
footer {
  text-align: center;
  p {
    @include fontsize(12,12);
  }
  color: $graymed;
  p.top a {
    color: $graymed !important;
  }
}

// ========================================
// Entry Thumbs
.entry {
  #screens-thumbs {
    .caption {
      color: $graymed;
      @include fontsize(12, 12);
    }
    .actions {
      color: $graymed;
      @include fontsize(12, 12);
    }
  }
}

// ========================================
// Article Lists on Tag Pages
.article-list {
  .title {
    @include fontsize(18, 18);
  }
  .pub-date {
    color: $graydark;
    @include fontsize(16, 16);
    white-space: nowrap;
  }
}

// ========================================
// Thumbs on index pages
.screens-thumbs-index {
  .thumb {
    &:hover {
      .indexlink a, .indexlink-big a {
        color: $white;
      }
    }
    .indexlink, .indexlink-big  {
      a {
        font-family: "Lato","Helvetica Neue",sans-serif;
        color: $textcolor;
        font-weight: 700;
        @include fontsize(24, 30);
        text-decoration: none;
      }
    }
    .nodetype a {
      color: $graydark;
      @include fontsize(12, 12);
      font-weight: normal;
    }
  } // /.thumb
} // /.screens-thumb-index

// ========================================
// SCREENS-FULL -- used in Interface section
#screens-full {
  .caption {
    color: $textcolor;
    font-weight: bold;
  }
}
// ========================================
// VIDEO
.video .caption {
  color: $textcolor;
  font-weight: bold;
  text-align: left;
}

// ========================================
// Metadata
.metadata {
  text-align: center;
  color: $graymed;
  .pub-date {
    @include fontsize(16,16);
    color: $graydark;
  }
  ul.tags {
    display: inline-block;
    @include inline-list();
    > li {
      @include fontsize(16,16);
      margin-right: 3px;
      padding: 5px 10px;
      border: 1px solid $graymed;
      border-radius: 15px;
      text-transform: uppercase;
      @include fontsize(12,12);
      font-weight: bold;
      a {
        color: $graymed;
        text-decoration: none;
      }
      &:hover {
        background: $graymed;
        a {
          text-decoration: none;
          color: $white;
        }
      }
    }
  }
}

// ========================================
// PAGINATION
section.pagination {
  @include fontsize(18,18);
  font-weight: 700;
}

// ========================================
// RAINBOW
.title.rainbow-text  {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
