<div class="ad-primary">
  <div class="content">
    <h5>Visit 1van2go</h5>
    <p><a href="https://1van2go.com"><img src="//1van2go.com/images/1van2go-metadata.png" alt="1van2go"/></a></p>
    <hr/>
    <h5>Blogroll</h5>
    <ul class="unstyled">
      <li><a href="https://alistapart.com/">A List Apart</a></li>
      <li><a href="https://www.carryology.com/">Carryology</a></li>
      <li><a href="https://www.designernews.co/">Designer News</a></li>
      <li><a href="https://ello.co/">ello</a></li>
      <li><a href="https://kottke.org/">Kottke</a></li>
      <li><a href="https://m.signalvnoise.com/">SvN</a></li>
      <li><a href="http://bm.straightline.jp/">straightline</a></li>
      <li><a href="https://www.swiss-miss.com/">Swiss Miss</a></li>
    </ul>
  </div>
</div>
