<div class="ad-primary">
  <div class="content">
    <h5>Visit gifmuse</h5>
    <a href="http://gifmuse.io"><img src="//media.konigi.com/notebook/gifuse_io.jpg" alt="gifmuse.io"/></a>
    <hr/>
    <h5>Say Hello</h5>
    <p><a href="/guestbook/">Sign my guestbook</a> and share a random, weird or inspirational message or whatever is on your mind.</p>
    <hr/>
    <h5>Blogroll</h5>
    <ul class="unstyled">
      <li><a href="https://alistapart.com/">A List Apart</a></li>
      <li><a href="https://www.carryology.com/">Carryology</a></li>
      <li><a href="https://www.designernews.co/">Designer News</a></li>
      <li><a href="https://ello.co/">ello</a></li>
      <li><a href="https://kottke.org/">Kottke</a></li>
      <li><a href="https://m.signalvnoise.com/">SvN</a></li>
      <li><a href="http://bm.straightline.jp/">straightline</a></li>
      <li><a href="https://www.swiss-miss.com/">Swiss Miss</a></li>
    </ul>
  </div>
</div>
