{{/* END BODY */}}

{{/* FOOTER */}}
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p><a href="/">Konigi</a> is published by Michael Angeles. Find out more <a href="/about/">about this site</a> or <a href="/contact/">contact me</a>.</p> <p>Screenshots &copy; their respective owners.</p>
    </div>
  </div>
</footer>
{{/* END FOOTER */}}
<amp-ad width="100vw" height=320
     type="adsense"
     data-ad-client="ca-pub-9039997918100594"
     data-ad-slot="4844889580"
     data-auto-format="rspv"
     data-full-width>
  <div overflow></div>
</amp-ad>
<script src="/js/konigi.js?{{ now.Unix }}"></script>
<script src="https://kit.fontawesome.com/4f920426c1.js" crossorigin="anonymous"></script>
</body>
</html>
