<!DOCTYPE html>
<html>
<head>
  <title>{{ .Title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/konigi.css?{{ now.Unix }}" type="text/css" rel="stylesheet" media="all">
  <link href="https://fonts.googleapis.com/css?Open+Sans:400,400i,600,600i&display=swap" rel="stylesheet">
  <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
  {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
  <script src="https://kit.fontawesome.com/4f920426c1.js" crossorigin="anonymous"></script>
</head>
<body class="{{ if eq .Section "tags" }}taxonomy{{ else}}{{ .Section }}{{ end }}">

{{/* BODY */}}
