{{/* FOOTER */}}
<div class="row">
  <div class="col">
    <footer>
    <p class="top"><a href="#gnav"><i class="ss-icon">&#x25B4;</i></a></p>
    <p><a href="/">Konigi</a> is published by <a href="http://michaelangeles.com">Michael Angeles</a> <a href="/contact">(contact)</a>. Screenshots &copy; their respective owners.</p>
    </footer>
  </div>{{/* END COL */}}
</div>{{/* END ROW */}}
{{/* END FOOTER */}}

<script src="/js/jquery.fancybox.js"></script>
<script src="/js/konigi.min.js"></script>

</body>
</html>
