{{/* GNAV */}}
<header>
<div class="container">
  <div class="row">
    <div class="col" id="logo">
      <a href="/">[K]</a>
    </div>
    <div class="col" id="gnav-container" >
      <ul id="gnav">
        <li id="gnav-blog"><a href="/blog/" title="Blog">Blog</a></li>
        <li id="gnav-interface"><a href="/interface/" title="Interface Showcase">Interfaces</a></li>
        <li id="gnav-tools"><a href="/tools/" title="Tools">Tools</a></li>
        <li id="gnav-wiki"><a href="/wiki/" title="Wiki">Wiki</a></li>
        <li id="gnav-search"><a href="/search" title="Search">Search</a></li>
      </ul>
    </div>
  </div>
</div>
</header>
{{/* GNAV */}}
