{{ partial "header.html" . }}
{{ partial "gnav.html" . }}

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-full index">
        {{ range (.Paginator 5).Pages }}
          {{ .Render "list-node"}}
        {{ end }}
      </div>{{/* /column */}}
    </div>{{/* /columns */}}
  </div>{{/* /container */}}
</section>
<section class="section pagination">
  <div class="container">
    <nav>{{ template "_internal/pagination.html" . }}</nav>
  </div>
</section>

{{ partial "footer.html" . }}
