{{ partial "header.html" . }}
{{ partial "gnav.html" . }}
{{ partial "body_top.html" . }}

<div class="intro"><strong>Hi.</strong> Welcome to my design blog, where I share resources for interface designers. Below are the last 5 things I've posted. For more info, read <a href="#more">more about this site.</a> Make something awesome! -Michael</div>

{{ range first 5 .Data.Pages }}
{{ .Render "list-node"}}
{{ end }}

<h3 id="more" class="post-title">Want More?</h3>

<div class="row">
  <div class="columns small-12 medium-6">
    <p>Check <strong><a href="/blog">the blog</a></strong> for the latest findings first. <strong>The <a href="/tools">Tools</a> section and <a href="http://shop.konigi.com">Store</a></strong> are where you'll find my OmniGraffle <a href="/tools/omnigraffle-wireframe-stencils">Wireframe Stencil</a>, <a href="/tools/omnigraffle-ux-template">UX Template</a>, <a href="/tools/graph-paper">Printable Graph Paper</a> and a <a href="/tools/sketchbooks-diy">DIY Sketchbook Tutorial</a>.</p>
  </div>
  <div class="columns small-12 medium-6">
    <p><strong><a href="/wiki">The Wiki</a></strong> is the place to find resources like my listing of <a href="/wiki/conferences_and_events">Conferences and Events</a>, <a href="/wiki/Jobs">Job Sites</a>, <a href="/wiki/discussion_groups">Discussion Groups</a>, and <a href="/wiki/sketch-book">The Sketch Book</a>, my presentation on UI sketching. Dig even deeper by <a href="/search">Searching</a> or <a href="/tags">Browsing Tags</a>.</p>
  </div>
</div>

{{ partial "body_bottom.html" . }}
{{ partial "footer.html" . }}
