{{ define "main" }}

<section class="hero is-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Art
      </h1>
      <!--<p class="subtitle">Acts of mindful creation.</p>-->
    </div>
  </div>
</section>

<section class="section mt-0 pt-0">
<div class="container">
  <div class="columns">
    <div class="column is-full">
     
      <p class="is-size-3">This site features some of my illustration and collage work. </p>
      
      <p>
        Some of my earliest childhood memories are of making paper toys and puzzle books. I'm currently working on illustration and mixed media pieces. I also host a free little art gallery in Sausalito with my wife, called the <a href="https://www.instagram.com/seaprinceflag/">Sea Prince FLAG</a>, where I offer up a lot of my small drawings and mixed media pieces to the community.
      </p>
      
    </div>{{/* /.column */}}
  </div>{{/* /columns */}}
</div>{{/* /container */}}
</section>   
      

<section class="section boxgrid">
  <div class="container">
    <div class="columns entries is-multiline">
      {{ range .Paginator.Pages }}
        {{ .Render "blocks-in-section"}}
      {{ end }}
    </div>{{/* /tiles */}}
  </div>{{/* /container */}}
</section>
<section class="section pagination">
  <div class="container">
    <nav>{{ template "_internal/pagination.html" . }}</nav>
  </div>
</section>

{{ end }}