{{ define "main" }}

<section class="hero is-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Links
      </h1>
      <p class="subtitle">Rabbit holes for procrastivity.</p>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-full index">
        {{ range .Paginator.Pages }}
          {{ .Render "list-node"}}
        {{ end }}
      </div>{{/* /column */}}
    </div>{{/* /columns */}}
  </div>{{/* /container */}}
</section>
<section class="section pagination">
  <div class="container">
    <nav>{{ template "_internal/pagination.html" . }}</nav>
  </div>
</section>

{{ end }}