{{ define "main" }}

<section class="hero is-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        DJ Edits and Mashups
      </h1>
    </div>
  </div>
</section>

<section class="section mt-0 pt-0">
  <div class="container">
    <div class="columns">
      <div class="column is-full">

      <h2 class="pb-5">Mashups</h2>

      <div class="columns audio-tracks">       
        <div class="column is-one-fifth">
        <img src="/media/music/plastic-dreams-x-housework.png">
        </div>
        <div class="column is-four-fifths">
          <h3>Plastic Dreams X House Work (Konigi Mashup)</h3>
          <p>- Jaydee / Jax Jones</p>
          <audio src="https://www.dropbox.com/s/usmfszq1dclckq8/Plastic%20Dreams%20X%20House%20Work.mp3?raw=1" controls></audio> 
        </div>
      </div>

      <div class="columns audio-tracks">       
        <div class="column is-one-fifth">
        <img src="/media/music/another-one-bites-the-box.png">
        </div>
        <div class="column is-four-fifths">
          <h3>Another One Bites The Box (Konigi Mashup)</h3>
          <p>Roddy Ricch / Queen </p>
          <audio src="https://www.dropbox.com/s/sumaqgc9xai8zyw/Another%20One%20Bites%20The%20Box.mp3?raw=1" controls></audio> 
        </div>
      </div>

      <div class="columns audio-tracks">       
        <div class="column is-one-fifth">
        <img src="/media/music/u-get-what-u-give-x-one-more-time-cover.png">
        </div>
        <div class="column is-four-fifths">
          <h3>You Get What You Give X One More Time (Konigi Mashup)</h3>
          <p>The New Radicals / Daft Punk</p>
          <audio src="https://www.dropbox.com/s/2zbhz7sep1pbl2y/You%20Get%20What%20You%20Give%20X%20One%20More%20Time.mp3?raw=1" controls></audio> 
        </div>
      </div>

      <div class="columns audio-tracks">       
        <div class="column is-one-fifth">
        <img src="/media/music/push+wish.png">
        </div>
        <div class="column is-four-fifths">
          <h3>Push + Wish (Konigi Mashup)</h3>
          <p>Stevie Wonder / Salt N Pepa</p>
          <audio src="https://www.dropbox.com/s/b71gdya90oz81j2/Push%20%2B%20Wish%20%28Konigi%20Mashup%29.mp3?raw=1" controls></audio> 
        </div>
      </div>
      
      <div class="columns audio-tracks">       
        <div class="column is-one-fifth">
        <img src="/media/music/sudehead-track-cover.png">
        </div>
        <div class="column is-four-fifths">
          <h3>Suedehead (Konigi Mashup)</h3>
          <p>Morrisey / David Starfire</p>
          <audio src="https://www.dropbox.com/s/oa8i4ac7xn8e056/Suedehead%20x%20The%20One%20%28Konigi%20Remix%29.mp3?raw=1" controls></audio> 
        </div>
      </div>      
        
      </div>{{/* /.column */}}        
      
    </div>{{/* /columns */}}
  </div>{{/* /container */}}
</section>

{{ end }}

  {{/* Base Metadata 
  <div class="columns audio-tracks">       
    <div class="column is-one-fifth">
    <img src="/media/music/">
    </div>
    <div class="column is-four-fifths">
      <h3> (Konigi Mashup)</h3>
      <p>  </p>
      <audio src="?raw=1" controls></audio> 
    </div>
  </div>
  */}}