{{ define "main" }}

<section class="hero is-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Singles, DJ Edits &amp; Mashups
      </h1>
    </div>
  </div>
</section>

<section class="section mt-0 pt-0">
  <div class="container">
    <div class="columns">
      <div class="column is-four-fifths">
      <h2 class="pb-5">Singles</h2>
      
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1N7V1fRgq2DOO5DCa7UKrj?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      <p class="is-size-6">
      <a href="https://konigi.bandcamp.com/track/onidiro">Bandcamp</a> &middot;
      <a href="https://music.apple.com/us/album/onidiro-single/1688313623">iTunes</a> &middot;
      <a href="https://music.youtube.com/playlist?list=OLAK5uy_kyye1-L9yXSRx73HcRyuu67Hwu611g4nI&feature=share">YouTube</a> &middot;
      <a href="https://amazon.com/music/player/albums/B0C5HH9PV1">Amazon Music</a>  &middot;
      <a href="https://www.deezer.com/us/album/442549357">Deezer</a> &middot;
      <a href="https://pandora.app.link/oNeRvvOdmBb">Pandora</a> &middot;
      also on Instagram, Tik Tok &amp; Tidal
      </p>
      
      <hr>

      <h2 class="pt-5 pb-5">Mashups</h2>
      
      <div class="columns audio-tracks">       
        <div class="column is-one-fifth">
        <img src="/media/music/lucky-sealion.png">
        </div>
        <div class="column is-four-fifths">
          <h3>Sealion Woman X Get Lucky (Konigi Mashup)</h3>
          <p>Feist / Daft Punk</p>
          <audio src="https://www.dropbox.com/scl/fi/mns4750zn7s3x16jrhfjv/Sealion-Woman-X-Get-Lucky.mp3?rlkey=40200kf72p0q5v5yo3gwn9r0i&raw=1" controls></audio> 
          {{/* <p><a href="https://www.dropbox.com/scl/fi/mns4750zn7s3x16jrhfjv/Sealion-Woman-X-Get-Lucky.mp3?rlkey=40200kf72p0q5v5yo3gwn9r0i&dl=0"><i class="fa fa-arrow-down" aria-hidden="true"></i> Download</a></p> */}}
        </div>
      </div>
      
      <hr>
            
      <div class="columns audio-tracks">       
        <div class="column is-one-fifth">
        <img src="/media/music/Hands-ID.png">
        </div>
        <div class="column is-four-fifths">
          <h3>Hands to the Sky x Fake ID (Konigi Mashup)</h3>
          <p>Purple Disco Machine / Riton & Kah-Lo</p>
          <audio src="https://www.dropbox.com/scl/fi/ksk8kl4a785qmy95kigkl/Hands-to-the-Sky-x-Fake-ID-Konigi-Mashup.mp3?rlkey=cikv0am1zd9o849kyggww71rg&raw=1" controls></audio> 
          {{/* <p><a href="https://www.dropbox.com/scl/fi/ksk8kl4a785qmy95kigkl/Hands-to-the-Sky-x-Fake-ID-Konigi-Mashup.mp3?rlkey=cikv0am1zd9o849kyggww71rg&dl=0"><i class="fa fa-arrow-down" aria-hidden="true"></i> Download</a></p> */}}
        </div>
      </div>
      
      <hr>

      <div class="columns audio-tracks">       
        <div class="column is-one-fifth">
        <img src="/media/music/nobody-fly.png">
        </div>
        <div class="column is-four-fifths">
          <h3>Nobody Speak x Fly Away (Konigi Mashup)</h3>
          <p>DJ Shadow / Lenny Kravitz</p>
          <audio src="https://www.dropbox.com/s/leepgiizsba7zv8/Nobody%20Speak%20x%20Fly%20Away%20%28Konigi%20Mashup%29.mp3?raw=1" controls></audio> 
          {{/* <p><a href="https://www.dropbox.com/s/leepgiizsba7zv8/Nobody%20Speak%20x%20Fly%20Away%20%28Konigi%20Mashup%29.mp3?dl=0"><i class="fa fa-arrow-down" aria-hidden="true"></i> Download</a></p> */}}
        </div>
      </div>   
      
      <hr>

      <div class="columns audio-tracks">       
        <div class="column is-one-fifth">
        <img src="/media/music/lost-teenspirit.png">
        </div>
        <div class="column is-four-fifths">
          <h3>We've Lost Teen Spirit (Konigi Mashup)</h3>
          <p>fred again.. / Nirvana</p>
          <audio src="https://www.dropbox.com/s/kd4j1kscbcdhi0y/We%20Lost%20Teen%20Spirit%20%28Konigi%20Mashup%29.mp3?raw=1" controls></audio> 
          {{/* <p><a href="https://www.dropbox.com/s/kd4j1kscbcdhi0y/We%20Lost%20Teen%20Spirit%20%28Konigi%20Mashup%29.mp3?dl=0"><i class="fa fa-arrow-down" aria-hidden="true"></i> Download</a></p> */}}
        </div>
      </div>      
      
      <hr>

      <div class="columns audio-tracks">       
        <div class="column is-one-fifth">
        <img src="/media/music/Chloe-Goates.png">
        </div>
        <div class="column is-four-fifths">
          <h3>Chloe & Goates (Konigi Mashup)</h3>
          <p>Soul Wax / Nick Bike / Chloe Sevigny</p>
          <audio src="https://www.dropbox.com/s/p40gv1lcwo721v3/Chloe%20x%20Goates.mp3?raw=1" controls></audio> 
          {{/* <p><a href="https://www.dropbox.com/s/p40gv1lcwo721v3/Chloe%20x%20Goates.mp3?dl=0"><i class="fa fa-arrow-down" aria-hidden="true"></i> Download</a></p> */}}
        </div>
      </div>
      
      <hr>
      
      <div class="columns audio-tracks">       
        <div class="column is-one-fifth">
        <img src="/media/music/fakeid-x-french-kiss-x-dog-days.png">
        </div>
        <div class="column is-four-fifths">
          <h3>Fake ID X French Kiss X Dog Days (Konigi Mashup)</h3>
          <p>Riton & Kah-Lo / Lil Louis / Matthew Dear</p>
          <audio src="https://www.dropbox.com/s/yfukstlobbt6ma1/Fake%20ID%20X%20French%20Kiss%20X%20Dog%20Days%20%28Konigi%20Mashup%29.mp3?raw=1" controls></audio> 
          {{/* <p><a href="https://www.dropbox.com/s/yfukstlobbt6ma1/Fake%20ID%20X%20French%20Kiss%20X%20Dog%20Days%20%28Konigi%20Mashup%29.mp3?dl=0"><i class="fa fa-arrow-down" aria-hidden="true"></i> Download</a></p> */}}
        </div>
      </div>
      
      <hr>

      <div class="columns audio-tracks">       
        <div class="column is-one-fifth">
        <img src="/media/music/supersonic-beatbox.png">
        </div>
        <div class="column is-four-fifths">
          <h3>Supersonic Beatbox (Konigi Mashup)</h3>
          <p>JJ Fad / Art Of Noise </p>
          <audio src="https://www.dropbox.com/s/z7ik1bcqoh0ayvt/Supersonic%20Beatbox.mp3?raw=1" controls></audio>
          {{/* <p><a href="https://www.dropbox.com/s/z7ik1bcqoh0ayvt/Supersonic%20Beatbox.mp3?dl=0"><i class="fa fa-arrow-down" aria-hidden="true"></i> Download</a></p> */}}
        </div>
      </div>
      
      <hr>

      <div class="columns audio-tracks">       
        <div class="column is-one-fifth">
        <img src="/media/music/plastic-dreams-x-housework.png">
        </div>
        <div class="column is-four-fifths">
          <h3>Plastic Dreams X House Work (Konigi Mashup)</h3>
          <p>Jaydee / Jax Jones</p>
          <audio src="https://www.dropbox.com/s/usmfszq1dclckq8/Plastic%20Dreams%20X%20House%20Work.mp3?raw=1" controls></audio> 
          {{/* <p><a href="https://www.dropbox.com/s/usmfszq1dclckq8/Plastic%20Dreams%20X%20House%20Work.mp3?dl=0"><i class="fa fa-arrow-down" aria-hidden="true"></i> Download</a></p> */}}
        </div>
      </div>
      
      <hr>

      <div class="columns audio-tracks">       
        <div class="column is-one-fifth">
        <img src="/media/music/another-one-bites-the-box.png">
        </div>
        <div class="column is-four-fifths">
          <h3>Another One Bites The Box (Konigi Mashup)</h3>
          <p>Roddy Ricch / Queen </p>
          <audio src="https://www.dropbox.com/s/sumaqgc9xai8zyw/Another%20One%20Bites%20The%20Box.mp3?raw=1" controls></audio> 
          {{/* <p><a href="https://www.dropbox.com/s/sumaqgc9xai8zyw/Another%20One%20Bites%20The%20Box.mp3?dl=0"><i class="fa fa-arrow-down" aria-hidden="true"></i> Download</a></p> */}}
        </div>
      </div>
      
      <hr>

      <div class="columns audio-tracks">       
        <div class="column is-one-fifth">
        <img src="/media/music/u-get-what-u-give-x-one-more-time-cover.png">
        </div>
        <div class="column is-four-fifths">
          <h3>You Get What You Give X One More Time (Konigi Mashup)</h3>
          <p>The New Radicals / Daft Punk</p>
          <audio src="https://www.dropbox.com/s/2zbhz7sep1pbl2y/You%20Get%20What%20You%20Give%20X%20One%20More%20Time.mp3?raw=1" controls></audio> 
          {{/* <p><a href="https://www.dropbox.com/s/2zbhz7sep1pbl2y/You%20Get%20What%20You%20Give%20X%20One%20More%20Time.mp3?dl=0"><i class="fa fa-arrow-down" aria-hidden="true"></i> Download</a></p> */}}
        </div>
      </div>
      
      <hr>

      <div class="columns audio-tracks">       
        <div class="column is-one-fifth">
        <img src="/media/music/push+wish.png">
        </div>
        <div class="column is-four-fifths">
          <h3>Push + Wish (Konigi Mashup)</h3>
          <p>Stevie Wonder / Salt N Pepa</p>
          <audio src="https://www.dropbox.com/s/b71gdya90oz81j2/Push%20%2B%20Wish%20%28Konigi%20Mashup%29.mp3?raw=1" controls></audio> 
          {{/* <p><a href="https://www.dropbox.com/s/b71gdya90oz81j2/Push%20%2B%20Wish%20%28Konigi%20Mashup%29.mp3?dl=0"><i class="fa fa-arrow-down" aria-hidden="true"></i> Download</a></p> */}}
        </div>
      </div>
      
      <hr>
      
      <div class="columns audio-tracks">       
        <div class="column is-one-fifth">
        <img src="/media/music/sudehead-track-cover.png">
        </div>
        <div class="column is-four-fifths">
          <h3>Suedehead (Konigi Mashup)</h3>
          <p>Morrisey / David Starfire</p>
          <audio src="https://www.dropbox.com/s/oa8i4ac7xn8e056/Suedehead%20x%20The%20One%20%28Konigi%20Remix%29.mp3?raw=1" controls></audio> 
          {{/* <p><a href="https://www.dropbox.com/s/oa8i4ac7xn8e056/Suedehead%20x%20The%20One%20%28Konigi%20Remix%29.mp3?dl=0"><i class="fa fa-arrow-down" aria-hidden="true"></i> Download</a></p> */}}
        </div>
      </div>      

      <hr>
        
      <h2 class="pt-5 pb-5">Remixes</h2>
      
      
      <div class="columns audio-tracks">       
        <div class="column is-one-fifth">
        <img src="/media/music/Underwater.png">
        </div>
        <div class="column is-four-fifths">
          <h3>Underwater (Konigi Remix)</h3>
          <p>Rufus Du Sol</p>
          <audio src="https://www.dropbox.com/s/exr2emfac07vj1v/Underwater%20%28Konigi%20Remix%29.mp3?raw=1" controls></audio> 
          {{/* <p><a href="https://www.dropbox.com/s/exr2emfac07vj1v/Underwater%20%28Konigi%20Remix%29.mp3?dl=0"><i class="fa fa-arrow-down" aria-hidden="true"></i> Download</a></p> */}}
        </div>
      </div>          
      
      <hr>
      
      <div class="columns audio-tracks">       
        <div class="column is-one-fifth">
        <img src="/media/music/Rumors.png">
        </div>
        <div class="column is-four-fifths">
          <h3>Rumors (Konigi Remix)</h3>
          <p>Lizzo</p>
          <audio src="https://www.dropbox.com/s/57grldnbr7jqtee/Rumors%20%28Konigi%20Extended%20Remix%29.mp3?raw=1" controls></audio> 
          {{/* <p><a href="https://www.dropbox.com/s/57grldnbr7jqtee/Rumors%20%28Konigi%20Extended%20Remix%29.mp3?dl=0"><i class="fa fa-arrow-down" aria-hidden="true"></i> Download</a></p> */}}
        </div>
      </div>   
      
      <hr>
      
      <div class="columns audio-tracks">       
        <div class="column is-one-fifth">
        <img src="/media/music/MAXXXDUBROOM.png">
        </div>
        <div class="column is-four-fifths">
          <h3>Max Dubroom (Konigi Remix)</h3>
          <p>Max Q / Todd Terry</p>
          <audio src="https://www.dropbox.com/s/e9ic8jz6qv771t8/Maxxx%20Dubroom.mp3?raw=1" controls></audio> 
          {{/* <p><a href="https://www.dropbox.com/s/e9ic8jz6qv771t8/Maxxx%20Dubroom.mp3?dl=0"><i class="fa fa-arrow-down" aria-hidden="true"></i> Download</a></p> */}}
        </div>
      </div>   
      
      <hr>
        
      </div>{{/* /.column */}}
      <div class="column is-one-fifth sidebar">
        {{ partial "djsets-sidebar.html" . }}
      </div>{{/* /column */}}            
      
    </div>{{/* /columns */}}
  </div>{{/* /container */}}
</section>

{{ end }}

  {{/* Base Metadata 
  <div class="columns audio-tracks">       
    <div class="column is-one-fifth">
    <img src="/media/music/">
    </div>
    <div class="column is-four-fifths">
      <h3> (Konigi Mashup)</h3>
      <p>  </p>
      <audio src="?raw=1" controls></audio> 
      <p><a href="?dl=0"><i class="fa fa-arrow-down" aria-hidden="true"></i> Download</a></p> 
    </div>
  </div>
  */}}