{{ define "main" }}

<section class="hero is-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        DJ Edits and Mashups
      </h1>
    </div>
  </div>
</section>

<section class="section mt-0 pt-0">
  <div class="container">
    <div class="columns">
      <div class="column is-full">
       
        <iframe width="100%" height="500" scrolling="yes" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1574351752&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/konigimusic" title="konigi" target="_blank" style="color: #cccccc; text-decoration: none;">konigi</a> · <a href="https://soundcloud.com/konigimusic/sets/mashups-dj-edits" title="Mashups &amp; DJ Edits" target="_blank" style="color: #cccccc; text-decoration: none;">Mashups &amp; DJ Edits</a></div>
        
      </div>{{/* /.column */}}        
      
    </div>{{/* /columns */}}
  </div>{{/* /container */}}
</section>

{{ end }}