{{ define "main" }}

<section class="hero ">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{ .Title }}
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container is-size-5">

    <ul class="tags">
    {{ $data := .Data }}
    {{ range $key, $value := .Data.Terms.Alphabetical }}
      <li><a href="/tags/{{ $value.Name | urlize }}">{{ $value.Name }}</a> &nbsp; ({{ $value.Count }})</li>
    {{ end }}
    </ul>

  </div>
</div>


<style>

  ul.tags > li {
    color: #999;
    margin: 0 5px 5px 0;
    display: inline-block;
    width: 100%;
    float: none;
  }
  ul.tags > li:first-child {
    display: none;
  }
</style>

{{ end }}
