{{ define "main" }}

<section class="hero ">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{ .Title }}
      </h1>
    </div>
  </div>
</section>

<section class="section boxgrid">
  <div class="container">
    <div class="columns entries is-multiline">
      {{ range .Paginator.Pages }}
        {{ .Render "blocks-in-section"}}
      {{ end }}
    </div>{{/* /tiles */}}
  </div>{{/* /container */}}
</section>
<section class="section">
  <div class="container content">
    <nav>{{ template "_internal/pagination.html" . }}</nav>
    <p><a href="/tags">Browse All Tags</a></p>
  </div>
</section>

{{ end }}
