// BODY
body {
  background: $bodycolor;
  color: $textcolor;
}

// HEADER
#header {
  #logo {
    // color: $white;
    @include fontsize(36,48);
    font-weight: 600;  
    &:hover {
      color: $linkhovercolor;
    }
    @include breakpoint(sm) {
      margin-left: 20px;
      display: inline-block;
    }
    @include breakpoint(md) {
      margin-left: 20px;
      display: inline-block;
    }
    margin: auto;
  }
  #navMenu {
    @include fontsize(36,48);
  }
}

// ========================================
// GNAV SELECTED SECTION
// .active

#navMenu a {
  // color: $white;
  &:hover {
    color: $accent;
  }
}
#navMenu .active a {
  color: $accent;
}

.navbar {
  padding-top: 0 !important;
  animation: .5s ease-out 0s .5s slideInFromTop;
  .container {
    padding: .25em 0;
    border-top: 6px solid $black;
    border-bottom: 1px solid $black;
  }
}

.navbar-brand {
  @include fontsize(24, 24);
  font-weight: 700;
  letter-spacing: -1.15px;
  a {
    color: $black;
  }
}

.navbar-item.is-active {
  font-weight: bold;
}

// FOOTER
#footer {
  margin-top: 3em;
  // background-image: url("/img/footer-border.png");
  // background-repeat: repeat-x;
  // background-position: top;
  .container {
    padding-top: 2em;
    border-top: 1px solid $bordercolor;
  }
  .footer-links {
    padding-top: 100px;
  }
}

// TRANSITION
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}