.konigi-home {
  .home-hero {
    // background-image: url(/img/bg.jpg);
    // background-attachment: fixed;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;    
    //min-height: 710px;
    min-height: 100vh;
  	@include breakpoint(sm) {	
  		min-height:auto;
  	}
    a {
      text-decoration: underline !important;
      text-decoration-thickness: 2px !important;
      text-underline-offset: 3px !important;
      &:hover {
          text-decoration: underline !important;
          text-decoration-thickness: 2px !important;
          text-underline-offset: 3px !important;
      }        
    }
    .home-logo {
	    margin-top: 100px;
        max-width: 200px;
        margin-bottom: 0;
	    @include fontsize(100, 120);
	    font-weight: bold;
	    // @include text-shadow("light");
      @include breakpoint(sm) {
        margin-top: 36px;
        @include fontsize(52, 64);
      }
      @include breakpoint(md) {
        margin-top: 72px;
      }
    }
    .home-description {
      @include fontsize(48, 52);
      // @include text-shadow("light");
		  @include breakpoint(sm) {
			  @include fontsize(32, 48);
		  }
    }
  }
  h2 {
      // border-bottom: 1px solid $bordercolor;
      @include fontsize(48, 52);
      font-weight: normal;
  }
  
  .photo-wrapper {
    @include breakpoint(sm) {
      display: none; 
    }
    @include breakpoint(md) {
      display: none; 
    }    
    width: 100%;
    padding: 0 2rem;
    margin-top: 5rem;
    text-align: center;
    .polaroid {
      background: #fff;
      padding: 1rem;
      box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
    }
    .polaroid > img{
      min-width: 250px;
      max-width: 100%;
      height: auto;
    }
    .item {
      display: inline-block;
      margin-top: 2rem;
      filter: grayscale(100%);
      transform: scale(0.8, 0.8) rotate(5deg);
      transition: all 0.35s;
    }
    .item .polaroid:before {
      content: '';
      position: absolute;
      z-index: -1;
      transition: all 0.35s;
    }
  }

  #footer {
    margin-top: 0;
    background-image: none;
    .footer-links {
      padding-top: 1rem;
      padding-bottom: 1rem;
      .container > div {
        margin-bottom: 0 !important;
      }
    }
  }
}