// RESET X OVERFLOW
html, body {
  overflow-x: hidden;
}
body {
  min-height: 100vh;
}

// GNAV
#header {
  background: url("/img/bg-nav.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;	
  padding-top: 36px;
  padding-bottom: 36px;
  margin-bottom: 72px;
}
#gnav {
  animation: fadeInAnimation ease 0.2s;
  // position: sticky;
  // border-top: 2px solid $graydark;
  ul#navMenu {
    @include breakpoint(sm) {
      text-align: left;
      li {
        display: block;
        margin-left: 0;
      }
    }
    @include breakpoint(md) {
      text-align: left;
      li {
        display: block;
        margin-left: 0;
      }
    }
    margin: 0;
    text-align: right;
    li {
      display: inline;
      margin: 0 0 0 1.5rem;
      padding: 0;
      @include breakpoint(sm) {margin-left: 20px;}
      @include breakpoint(md) {margin-left: 20px;}
    }    
  }
  #navMenu.is-hidden-mobile.is-active {
    display: block!important;
    > li {
      display: block;
      &.navstart {
        border-top: 1px solid $gray;
        margin-top: .25rem;
        padding-top: .5rem;
      }
      &.navsectend {
        // border-bottom: 1px solid $gray;
        margin-bottom: .25rem;
        padding-bottom: .5rem;
      }
    }
  }
  #socmed a {
    margin-left: 16px;
    &:first-child { margin-left: 0; }
  }
}
.navbar-burger {
  position: absolute;
  right: 15px;
  height: 60px;
  width: 60px;
  @include fontsize(32,32);
  span {
    left: calc(50% - 12px);
    width: 26px;
    height: 2px;
    color: $white;
  }
}

// BODY
#body {
  min-height: 50vh;
}

// HERO
.hero {
  margin-bottom: 0;
  .hero-body {
    padding-top: 1em;
    padding-bottom: 0;
  }
  .container {
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
    border-bottom: 2px solid $bordercolor;
  }
  p.subtitle {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

// INDEX
section.article-list {
  margin-top: 0;
}

// INDEX BOX GRID
.boxgrid {
  padding-top: 1em;
  .wrap {
    flex-wrap: wrap;
    .tile.is-child {
      max-width: 33%;
    }
  }
}
.boxgrid .entry { /* parent */
  position: relative;
  overflow: hidden;
  min-height: 300px;
  box-shadow: rgba(255, 255, 255, 0.18) 0px 0px 3px;
}
.boxgrid .entryinner { /* child */
  height: 100%;
  width: 100%;
  // background: #ddd;
  background-position: center;
  background-size: cover;
  min-height: 320px;
  transition: all 0.7s ease;
}
.boxgrid.squarebox .entryinner {
  min-height: 320px;
}
.boxgrid .entry:hover .entryinner,
.boxgrid .entry:focus .entryinner {
  transform: scale(1.2);
}
.boxgrid .entryinner::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255,255,255, 0);
  background: linear-gradient(180deg, rgba(0,0,0,.05) 55%, rgba(0,0,0,.2) 75%, rgba(0,0,0,.2) 90%);
}

.entries.dark .entry .entryinner:before,
.entry:hover .entryinner:before,
.entry:focus .entryinner:before {
  background: linear-gradient(180deg, rgba(0,0,0,.025) 55%, rgba(0,0,0,.3) 75%, rgba(0,0,0,.4) 90%);
}

.boxgrid .entryinner.dark::before {
  background: rgba(255,255,255, 0);
  background: linear-gradient(180deg, rgba(0,0,0,.1) 55%, rgba(0,0,0,.3) 75%, rgba(0,0,0,.4) 90%);
}

.entries.dark .entry .entryinner.dark:before,
.entry:hover .entryinner.dark:before,
.entry:focus .entryinner.dark:before {
  background: linear-gradient(180deg, rgba(0,0,0,.1) 55%, rgba(0,0,0,.4) 75%, rgba(0,0,0,.5) 90%);
}

.boxgrid.roundedcorner .entryinner,
.boxgrid.roundedcorner .entryinner:before {
  border-radius: 12px;
}

.boxgrid.roundedcorner .entry:hover .entryinner,
.boxgrid.roundedcorner .entry:focus .entryinner {
  transform: scale(1);
}

.boxgrid .category {
  position: absolute;
  top: 0;
  left: 1em;
  color: white;
  background: rgba(0,0,0,.4);
  padding: 0 8px;
  @include fontsize(11, 26);
  font-weight: 700;
  text-transform: uppercase;
}
.boxgrid .meta {
  position: absolute;
  bottom: 0;
  padding: 0 1em 1em 1em;
  text-shadow: 1px 1px rgba(0,0,0,.4);
  * {
    color: $white;
  }
  hr {
    width: 55px;
    height: 1px;
    background-color: $white;
    margin: 0 0 .5em 0;
  }
  h2.title {
    margin: 0;
  }
  p {
    margin: 0;
    font-weight: bold;
  }
}
.about .content {
  padding: 1em;
}

// INSTAGRAM
.tile.box.instagram {
  padding: 3px 3px 0 3px;
  background: $graypale;
}

// GENERIC BOX CORNER RADIUS
.tile .box {
  border-radius: 0;
}

// BORDERS
.is-borderless {
  border: none !important;
}

// INDEX PAGINATION
.pagination.index .container {
  border-top: 1px solid $bordercolor;
  margin-top: 1em;
  padding-top: 1.5em;
}
ul.pagination {
  li.active a {
    color: $graymed;
    padding-bottom: .5em;
    border-bottom: 2px solid $bordercolor;
  }
}

// ARTICLE
.index article {
  padding-bottom: 2em;
  border-bottom: 1px solid $bordercolor;
}
.article-body.content {
  padding-bottom: 2em;
}

// ARTICLE METADATA
.metadata.single.bottom {
  border-top: 1px solid $bordercolor;
  border-bottom: 1px solid $bordercolor;  
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: 1em;
  .index article & {
    margin-top: 2.5em;
    border: 0;
  }
}

.pub-date, .tags {
  margin: 2em 0;
}

// IMAGE
.screenshot {
  margin-bottom: 1.5em;
}

.border {
  border: 1px solid $gray;
}

article img {
  max-width: 100%;
}
article img.full,
article img.full-image,
.blog article img,
.art article img,
.articles article img,
.links article img,
.sunchasing article img,
.home article img {
  width: 100%;
}
article img.center,
article img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// VIDEO
.video {
  margin-bottom: 1.5em;
}

.video {
  position: relative;
  padding-bottom: 56.25%; /*16:9*/
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// MIX
.mix {
  margin-bottom: 1em;
}

//AD
.ad-primary {
  position: sticky; top: 0;
  background: $graypale;
  .content {
    padding: 1em;
  }
  h5 {
    text-transform: uppercase;
    @include fontsize(14px,14px);
    color: $graydark;
    font-weight: 700;
  }
}

// FILTER
.filterDiv {
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
#myBtnContainer {
  margin-bottom: 1rem;
}
.btn {
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 12px 16px;
  margin-bottom: .5em;
  background-color: #f1f1f1;
  cursor: pointer;
  /* Add a light grey background on mouse-over */
  &:hover {
    background-color: #ddd;
  }
  /* Add a dark background to the active button */
  &.active {
    background-color: #666;
    color: white;
  }
}

// AUDIO PLAYER
.audio-tracks {
  padding-top : 1.25rem;
  // border-bottom: 1px solid $graydark;
  img {
    width: 90%;
    margin: 0;
  }  
  h3 {
    margin: 1.25rem 0 0 0;
  }
  p {
    margin: 0 0 1.25rem 0;
  }
}
audio {
  width: 100%;
}

// RAINBOW BOX
.rainbow-box {
  border: none;
  border-top: 10px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
}

// HR
hr {
  background-color: $bordercolor;
  height: 1px;
}

// KIDSTUFF
.kidstuff {
  section {
    padding: 0 10px;
  }
}
