{{/* BLOCKS ON SECTION PAGES - USE BULMA COLUMNS */}}
<div class="filterDiv column is-one-quarter{{ range sort .Params.tags }} {{ . }}{{ end }}">
  <article class="is-child">
    <div class="entry">
      <a href="{{ if .Params.href }}{{ .Params.href }}{{ end }}">
      <div class="entryinner dark" style="background-image: url('{{ if .Params.featuredimg }}{{ .Params.featuredimg }}{{ end }}');"></div>
      <div class="meta">
        <hr/>
        <h2 class="title">{{ .Title }}</h2>
        {{/* <p class="summary">{{ if .Params.summary }}{{ .Params.summary }}{{ else }}{{ .Summary }}{{ end }}</p> */}}
      </div>
      </a>
    </div>
  </article>
</div>
