{{ partial "header.html" . }}
<div class="rainbow-box is-paddingless"></div>

<section class="hero">
  <div class="hero-body">
    <div class="container is-paddingless is-borderless has-text-centered">
      <h1 class="title rainbow-text has-text-centered is-size-1">Fun Stuff for Kids!</h1>
    </div>
  </div>
</section>

<section>
<!-- Control buttons -->
<div id="myBtnContainer" class="container has-text-centered">
  <button class="btn active is-size-6" onclick="filterSelection('all')"><i class="fas fa-th-large"></i> All</button>
  <button class="btn is-size-6" onclick="filterSelection('arts')"><i class="fas fa-paint-brush"></i> Art</button>
  <button class="btn is-size-6" onclick="filterSelection('animals')"><i class="fas fa-dog"></i> Animals</button>
  <button class="btn is-size-6" onclick="filterSelection('books')"><i class="fas fa-book-open"></i> Books</button>
  <button class="btn is-size-6" onclick="filterSelection('earth')"><i class="fas fa-globe-africa"></i> Earth</button>
  {{/* <button class="btn is-size-6" onclick="filterSelection('games')"><i class="fas fa-gamepad"></i> Games</button>*/}}
  <button class="btn is-size-6" onclick="filterSelection('math')"><i class="fas fa-calculator"></i> Math</button>
  <button class="btn is-size-6" onclick="filterSelection('socialstudies')"><i class="fas fa-user-friends"></i> Social Studies</button>
  <button class="btn is-size-6" onclick="filterSelection('science')"><i class="fas fa-microscope"></i> Science</button>
  <button class="btn is-size-6" onclick="filterSelection('star')"><i class="fas fa-star"></i></button>
  {{/* <button class="btn is-size-6" onclick="filterSelection('sports')"><i class="fas fa-futbol"></i> Sports</button>*/}}
</div>
</section>

<!-- The filterable elements. Note that some have multiple class names (this can be used if they belong to multiple categories) -->

<section class="boxgrid squaregrid roundedcorner">
  <div class="container">
    <div class="columns entries is-multiline">
{{ range .Paginator.Pages.ByTitle }}
  {{ .Render "kidstuff-list"}}
{{ end }}
    </div>
  </div>
</section>

<div class="rainbow-box is-paddingless" style="margin-top: 2em;"></div>

<section>
  <div class="container has-text-centered is-size-6" style="padding: 10px;">
    <p><a href="https://konigi.com/kidstuff/">Kid Stuff</a> was created for my kiddo and all the kiddos learning from home by <a href="https://konigi.com">Michael</a>.<br />Have a suggestion? <a href="https://konigi.com/contact/">Email me</a>.</p>
  </div>
</section>

{{ partial "footer-minimal.html" . }}
