{{ partial "header.html" . }}

{{ partial "hero-rainbow.html" . }}

<section class="section is-paddingless">
  <div class="container content has-text-centered">
    {{ if .Params.href }}
      <a href="{{ .Params.href }}">
      {{ .Content }}
      </a>
    {{else}}
      {{ .Content }}
    {{ end }}
    {{ if .Params.summary }}<p class="summary">{{ .Params.summary }}{{ else }}{{ .Summary }}</p>{{ end }}
    {{ if .Params.href }}
    <p>
      <a href="{{ .Params.href }}">
        {{ .Params.href }}
      </a>
    </p>
    {{ end }}
  </div>
</section>

<div class="rainbow-box is-paddingless" style="margin-top: 2em;"></div>

<section>
  <div class="container has-text-centered is-size-6" style="padding: 10px;">
    <p><a href="https://konigi.com/kidstuff/">Kid Stuff</a> was created for all the kiddos learning from home by <a href="https://konigi.com">Michael</a>.<br />Have a suggestion? <a href="https://konigi.com/contact/">Email me</a>.</p>
  </div>
</section>

<style>
  h1.title {
    text-shadow: 1px 1px rgba(0,0,0,.02);
    line-height: 1.5em;
  }
  section {
    padding: 0 10px;
  }
</style>

{{ partial "footer-minimal.html" . }}
