{{ define "main" }}

<section class="section home-hero mb-5">
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <h1 class="home-logo">KONIGI</h1>
        <p class="home-description mb-4">is a <a href="/design">designer</a>, <a href="/art">artist</a> &amp; <a href="/djsets">dj</a> in the SF Bay Area, aka Michael Angeles.</p>
        <p><strong>I co-authored the book on Wireframing, coming soon from A Book Apart. <a href="https://balsamiq.com/book">Get notified when the book ships!</a></strong></p>
      </div>
  </div>
</section>

<section class="section home">
  <div class="container">
    <div class="columns">
      <div class="column is-three-fifths">
        <!--<h2 class="mt-1 mb-4 pb-4"><a href="/djsets">DJ SETS</a></h2>-->
        {{ $homeposts := where (where site.Pages.ByDate.Reverse "Section" "blog") "Params.featured" "==" "true" }}
        {{ range first 5 $homeposts }}        
          {{ .Render "list-node-home" }}
        {{ end }}
        <p><a href="/blog">View All...</a></p>
      </div>{{/* /column */}}
      <div class="column is-two-fifths sidebar">
        {{ partial "sidebar.html" . }}
      </div>{{/* /column */}}
    </div>{{/* /columns */}}
  </div>{{/* /container */}}
</section>


{{ end }}