{{ partial "header.html" }}

<article class="entry page">
  <div class="center marbot2 padbot2 clearfix">
<img border=0 src="/media/img/404.png" usemap="#GraffleExport">
</div>
<hr>
<p><a name="searchbox"></a></p>
<div id="searchbox" class="center padtop10">
<form action="/search/"  accept-charset="UTF-8" method="get" id="google-cse-searchbox-form">
<div><input type="hidden" name="cx" id="edit-cx" value="006261866030423320385:ljhnjznrg-k"  /><br />
<input type="hidden" name="cof" id="edit-cof" value="FORID:9"  /></p>
<div class="form-item" id="edit-query-wrapper">
 <input type="text" maxlength="128" name="query" id="edit-query" size="25" value="" title="Enter the terms you wish to search for." class="form-text" />
</div>
<p><input type="submit" name="op" id="edit-sa" value="Search"  class="form-submit" /><br />
<input type="hidden" name="form_build_id" id="form-n4S03RVGJ4TOfhGpnKCfpVs4pa73jKk5y4lBibzZwGQ" value="form-n4S03RVGJ4TOfhGpnKCfpVs4pa73jKk5y4lBibzZwGQ"  /><br />
<input type="hidden" name="form_id" id="edit-google-cse-searchbox-form" value="google_cse_searchbox_form"  /></p>
</div>
</form>
</div>
<p><map name="GraffleExport"><br />
  <area shape=rect coords="807,460,906,535" href="mailto:hello@konigi.com"><br />
  <area shape=rect coords="162,680,261,754" href="../node/add.html"><br />
  <area shape=rect coords="604,344,703,418" href="../index.html"><br />
  <area shape=rect coords="162,576,261,650" href="../user.html"><br />
  <area shape=rect coords="470,344,569,418" href="../sitemap.html"><br />
  <area shape=rect coords="333,344,431,418" href="#searchbox"><br />
  <area shape=rect coords="2,460,100,535" href="../user/register.html"><br />
</map></p>
<style type="text/css">
#title {display: none; }
#content #content-main {border-top: none;}
#searchbox {
  margin: 0 auto;
  width: 500px;
}
#google-cse-searchbox-form input#edit-query {
  margin: 0 auto;
  width: 400px;
}
#google-cse-searchbox-form #edit-query-wrapper,
#google-cse-searchbox-form p {
  float: left;
}
#google-cse-searchbox-form {
  font-size: 1.5em;
}
</style></article>

{{ partial "footer.html" }}
